# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Pods/Headers/Public/mailcore2-ios/MailCore/MailCore.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAbstract.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAbstractMessage.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAbstractMessagePart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAbstractMultipart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAbstractPart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAccountValidator.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAddress.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAddressDisplay.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCArray.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAssert.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAsync.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAsyncIMAP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAsyncNNTP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAsyncPOP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAsyncSMTP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAttachment.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCAutoreleasePool.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCBaseTypes.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCConnectionLogger.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCCore.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCData.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCDateFormatter.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCHash.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCHashMap.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCHTMLCleaner.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCHTMLRendererCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCICUTypes.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPAppendMessageOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPAsyncSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPCapabilityOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPConnectOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPCopyMessagesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPCustomCommandOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFetchContentOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFetchFoldersOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFetchMessagesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFetchNamespaceOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFetchParsedContentOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFolder.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFolderInfo.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFolderInfoOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFolderStatus.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPFolderStatusOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPIdentity.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPIdentityOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPIdleOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPMessage.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPMessagePart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPMessageRenderingOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPMultipart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPNamespace.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPNamespaceItem.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPNoopOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPOperationCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPPart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPProgressCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPQuotaOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPSearchExpression.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPSearchOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIMAPSyncResult.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIndexSet.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCIterator.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCJSON.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCLibetpanTypes.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCLog.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMailProvider.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMailProvidersManager.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMainThread.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMD5.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMessageBuilder.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMessageConstants.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMessageHeader.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMessageParser.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMessagePart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMultipart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCMXRecordResolverOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNetService.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPAsyncSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPCheckAccountOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPFetchAllArticlesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPFetchArticleOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPFetchHeaderOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPFetchOverviewOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPFetchServerTimeOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPGroupInfo.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPListNewsgroupsOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPOperationCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPProgressCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNNTPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCNull.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAbstract.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAbstractMessage.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAbstractMessagePart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAbstractMultipart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAbstractPart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAccountValidator.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAddress.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOAttachment.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCObjC.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCObject.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOConstants.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOHTMLRendererDelegate.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOHTMLRendererIMAPDelegate.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPAppendMessageOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPBaseOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPCapabilityOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPCopyMessagesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPCustomCommandOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFetchContentOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFetchFoldersOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFetchMessagesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFetchNamespaceOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFetchParsedContentOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFolder.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFolderInfo.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFolderInfoOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFolderStatus.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPFolderStatusOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPIdentity.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPIdentityOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPIdleOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPMessage.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPMessagePart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPMessageRenderingOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPMultipart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPNamespace.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPNamespaceItem.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPPart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPQuotaOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPSearchExpression.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPSearchOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIMAPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOIndexSet.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMailProvider.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMailProvidersManager.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMessageBuilder.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMessageHeader.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMessageParser.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMessagePart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOMultipart.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONetService.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPDisconnectOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPFetchAllArticlesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPFetchArticleOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPFetchHeaderOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPFetchOverviewOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPFetchServerTimeOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPGroupInfo.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPListNewsgroupsOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCONNTPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOObjectWrapper.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOperationCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOperationQueue.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPFetchHeaderOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPFetchMessageOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPFetchMessagesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPMessageInfo.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPNoopOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOPOPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOProvider.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCORange.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCORFC822.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOSMTP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOSMTPLoginOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOSMTPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOSMTPSendOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOSMTPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCOUtils.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPAsyncSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPFetchHeaderOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPFetchMessageOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPFetchMessagesOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPMessageInfo.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPNoopOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPOperationCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPProgressCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCPOPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCProvider.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCRange.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCRenderer.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCRFC822.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSet.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSizeFormatter.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTP.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTPAsyncSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTPNoopOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTPOperation.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTPOperationCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTPProgressCallback.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCSMTPSession.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCString.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCUtils.h
Pods/Headers/Public/mailcore2-ios/MailCore/MCValue.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSArray+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSData+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSDictionary+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSError+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSIndexSet+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSObject+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSString+MCO.h
Pods/Headers/Public/mailcore2-ios/MailCore/NSValue+MCO.h
Pods/mailcore2-ios/LICENSE
Pods/mailcore2-ios/include/MailCore/MailCore.h
Pods/mailcore2-ios/include/MailCore/MCAbstract.h
Pods/mailcore2-ios/include/MailCore/MCAbstractMessage.h
Pods/mailcore2-ios/include/MailCore/MCAbstractMessagePart.h
Pods/mailcore2-ios/include/MailCore/MCAbstractMultipart.h
Pods/mailcore2-ios/include/MailCore/MCAbstractPart.h
Pods/mailcore2-ios/include/MailCore/MCAccountValidator.h
Pods/mailcore2-ios/include/MailCore/MCAddress.h
Pods/mailcore2-ios/include/MailCore/MCAddressDisplay.h
Pods/mailcore2-ios/include/MailCore/MCArray.h
Pods/mailcore2-ios/include/MailCore/MCAssert.h
Pods/mailcore2-ios/include/MailCore/MCAsync.h
Pods/mailcore2-ios/include/MailCore/MCAsyncIMAP.h
Pods/mailcore2-ios/include/MailCore/MCAsyncNNTP.h
Pods/mailcore2-ios/include/MailCore/MCAsyncPOP.h
Pods/mailcore2-ios/include/MailCore/MCAsyncSMTP.h
Pods/mailcore2-ios/include/MailCore/MCAttachment.h
Pods/mailcore2-ios/include/MailCore/MCAutoreleasePool.h
Pods/mailcore2-ios/include/MailCore/MCBaseTypes.h
Pods/mailcore2-ios/include/MailCore/MCConnectionLogger.h
Pods/mailcore2-ios/include/MailCore/MCCore.h
Pods/mailcore2-ios/include/MailCore/MCData.h
Pods/mailcore2-ios/include/MailCore/MCDateFormatter.h
Pods/mailcore2-ios/include/MailCore/MCHash.h
Pods/mailcore2-ios/include/MailCore/MCHashMap.h
Pods/mailcore2-ios/include/MailCore/MCHTMLCleaner.h
Pods/mailcore2-ios/include/MailCore/MCHTMLRendererCallback.h
Pods/mailcore2-ios/include/MailCore/MCICUTypes.h
Pods/mailcore2-ios/include/MailCore/MCIMAP.h
Pods/mailcore2-ios/include/MailCore/MCIMAPAppendMessageOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPAsyncSession.h
Pods/mailcore2-ios/include/MailCore/MCIMAPCapabilityOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPConnectOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPCopyMessagesOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPCustomCommandOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFetchContentOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFetchFoldersOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFetchMessagesOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFetchNamespaceOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFetchParsedContentOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFolder.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFolderInfo.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFolderInfoOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFolderStatus.h
Pods/mailcore2-ios/include/MailCore/MCIMAPFolderStatusOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPIdentity.h
Pods/mailcore2-ios/include/MailCore/MCIMAPIdentityOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPIdleOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPMessage.h
Pods/mailcore2-ios/include/MailCore/MCIMAPMessagePart.h
Pods/mailcore2-ios/include/MailCore/MCIMAPMessageRenderingOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPMultipart.h
Pods/mailcore2-ios/include/MailCore/MCIMAPNamespace.h
Pods/mailcore2-ios/include/MailCore/MCIMAPNamespaceItem.h
Pods/mailcore2-ios/include/MailCore/MCIMAPNoopOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPOperationCallback.h
Pods/mailcore2-ios/include/MailCore/MCIMAPPart.h
Pods/mailcore2-ios/include/MailCore/MCIMAPProgressCallback.h
Pods/mailcore2-ios/include/MailCore/MCIMAPQuotaOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPSearchExpression.h
Pods/mailcore2-ios/include/MailCore/MCIMAPSearchOperation.h
Pods/mailcore2-ios/include/MailCore/MCIMAPSession.h
Pods/mailcore2-ios/include/MailCore/MCIMAPSyncResult.h
Pods/mailcore2-ios/include/MailCore/MCIndexSet.h
Pods/mailcore2-ios/include/MailCore/MCIterator.h
Pods/mailcore2-ios/include/MailCore/MCJSON.h
Pods/mailcore2-ios/include/MailCore/MCLibetpanTypes.h
Pods/mailcore2-ios/include/MailCore/MCLog.h
Pods/mailcore2-ios/include/MailCore/MCMailProvider.h
Pods/mailcore2-ios/include/MailCore/MCMailProvidersManager.h
Pods/mailcore2-ios/include/MailCore/MCMainThread.h
Pods/mailcore2-ios/include/MailCore/MCMD5.h
Pods/mailcore2-ios/include/MailCore/MCMessageBuilder.h
Pods/mailcore2-ios/include/MailCore/MCMessageConstants.h
Pods/mailcore2-ios/include/MailCore/MCMessageHeader.h
Pods/mailcore2-ios/include/MailCore/MCMessageParser.h
Pods/mailcore2-ios/include/MailCore/MCMessagePart.h
Pods/mailcore2-ios/include/MailCore/MCMultipart.h
Pods/mailcore2-ios/include/MailCore/MCMXRecordResolverOperation.h
Pods/mailcore2-ios/include/MailCore/MCNetService.h
Pods/mailcore2-ios/include/MailCore/MCNNTP.h
Pods/mailcore2-ios/include/MailCore/MCNNTPAsyncSession.h
Pods/mailcore2-ios/include/MailCore/MCNNTPCheckAccountOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPFetchAllArticlesOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPFetchArticleOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPFetchHeaderOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPFetchOverviewOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPFetchServerTimeOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPGroupInfo.h
Pods/mailcore2-ios/include/MailCore/MCNNTPListNewsgroupsOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPOperation.h
Pods/mailcore2-ios/include/MailCore/MCNNTPOperationCallback.h
Pods/mailcore2-ios/include/MailCore/MCNNTPProgressCallback.h
Pods/mailcore2-ios/include/MailCore/MCNNTPSession.h
Pods/mailcore2-ios/include/MailCore/MCNull.h
Pods/mailcore2-ios/include/MailCore/MCOAbstract.h
Pods/mailcore2-ios/include/MailCore/MCOAbstractMessage.h
Pods/mailcore2-ios/include/MailCore/MCOAbstractMessagePart.h
Pods/mailcore2-ios/include/MailCore/MCOAbstractMultipart.h
Pods/mailcore2-ios/include/MailCore/MCOAbstractPart.h
Pods/mailcore2-ios/include/MailCore/MCOAccountValidator.h
Pods/mailcore2-ios/include/MailCore/MCOAddress.h
Pods/mailcore2-ios/include/MailCore/MCOAttachment.h
Pods/mailcore2-ios/include/MailCore/MCObjC.h
Pods/mailcore2-ios/include/MailCore/MCObject.h
Pods/mailcore2-ios/include/MailCore/MCOConstants.h
Pods/mailcore2-ios/include/MailCore/MCOHTMLRendererDelegate.h
Pods/mailcore2-ios/include/MailCore/MCOHTMLRendererIMAPDelegate.h
Pods/mailcore2-ios/include/MailCore/MCOIMAP.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPAppendMessageOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPBaseOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPCapabilityOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPCopyMessagesOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPCustomCommandOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFetchContentOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFetchFoldersOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFetchMessagesOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFetchNamespaceOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFetchParsedContentOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFolder.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFolderInfo.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFolderInfoOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFolderStatus.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPFolderStatusOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPIdentity.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPIdentityOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPIdleOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPMessage.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPMessagePart.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPMessageRenderingOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPMultipart.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPNamespace.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPNamespaceItem.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPPart.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPQuotaOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPSearchExpression.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPSearchOperation.h
Pods/mailcore2-ios/include/MailCore/MCOIMAPSession.h
Pods/mailcore2-ios/include/MailCore/MCOIndexSet.h
Pods/mailcore2-ios/include/MailCore/MCOMailProvider.h
Pods/mailcore2-ios/include/MailCore/MCOMailProvidersManager.h
Pods/mailcore2-ios/include/MailCore/MCOMessageBuilder.h
Pods/mailcore2-ios/include/MailCore/MCOMessageHeader.h
Pods/mailcore2-ios/include/MailCore/MCOMessageParser.h
Pods/mailcore2-ios/include/MailCore/MCOMessagePart.h
Pods/mailcore2-ios/include/MailCore/MCOMultipart.h
Pods/mailcore2-ios/include/MailCore/MCONetService.h
Pods/mailcore2-ios/include/MailCore/MCONNTP.h
Pods/mailcore2-ios/include/MailCore/MCONNTPDisconnectOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPFetchAllArticlesOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPFetchArticleOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPFetchHeaderOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPFetchOverviewOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPFetchServerTimeOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPGroupInfo.h
Pods/mailcore2-ios/include/MailCore/MCONNTPListNewsgroupsOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPOperation.h
Pods/mailcore2-ios/include/MailCore/MCONNTPSession.h
Pods/mailcore2-ios/include/MailCore/MCOObjectWrapper.h
Pods/mailcore2-ios/include/MailCore/MCOOperation.h
Pods/mailcore2-ios/include/MailCore/MCOperation.h
Pods/mailcore2-ios/include/MailCore/MCOperationCallback.h
Pods/mailcore2-ios/include/MailCore/MCOperationQueue.h
Pods/mailcore2-ios/include/MailCore/MCOPOP.h
Pods/mailcore2-ios/include/MailCore/MCOPOPFetchHeaderOperation.h
Pods/mailcore2-ios/include/MailCore/MCOPOPFetchMessageOperation.h
Pods/mailcore2-ios/include/MailCore/MCOPOPFetchMessagesOperation.h
Pods/mailcore2-ios/include/MailCore/MCOPOPMessageInfo.h
Pods/mailcore2-ios/include/MailCore/MCOPOPNoopOperation.h
Pods/mailcore2-ios/include/MailCore/MCOPOPOperation.h
Pods/mailcore2-ios/include/MailCore/MCOPOPSession.h
Pods/mailcore2-ios/include/MailCore/MCOProvider.h
Pods/mailcore2-ios/include/MailCore/MCORange.h
Pods/mailcore2-ios/include/MailCore/MCORFC822.h
Pods/mailcore2-ios/include/MailCore/MCOSMTP.h
Pods/mailcore2-ios/include/MailCore/MCOSMTPLoginOperation.h
Pods/mailcore2-ios/include/MailCore/MCOSMTPOperation.h
Pods/mailcore2-ios/include/MailCore/MCOSMTPSendOperation.h
Pods/mailcore2-ios/include/MailCore/MCOSMTPSession.h
Pods/mailcore2-ios/include/MailCore/MCOUtils.h
Pods/mailcore2-ios/include/MailCore/MCPOP.h
Pods/mailcore2-ios/include/MailCore/MCPOPAsyncSession.h
Pods/mailcore2-ios/include/MailCore/MCPOPFetchHeaderOperation.h
Pods/mailcore2-ios/include/MailCore/MCPOPFetchMessageOperation.h
Pods/mailcore2-ios/include/MailCore/MCPOPFetchMessagesOperation.h
Pods/mailcore2-ios/include/MailCore/MCPOPMessageInfo.h
Pods/mailcore2-ios/include/MailCore/MCPOPNoopOperation.h
Pods/mailcore2-ios/include/MailCore/MCPOPOperation.h
Pods/mailcore2-ios/include/MailCore/MCPOPOperationCallback.h
Pods/mailcore2-ios/include/MailCore/MCPOPProgressCallback.h
Pods/mailcore2-ios/include/MailCore/MCPOPSession.h
Pods/mailcore2-ios/include/MailCore/MCProvider.h
Pods/mailcore2-ios/include/MailCore/MCRange.h
Pods/mailcore2-ios/include/MailCore/MCRenderer.h
Pods/mailcore2-ios/include/MailCore/MCRFC822.h
Pods/mailcore2-ios/include/MailCore/MCSet.h
Pods/mailcore2-ios/include/MailCore/MCSizeFormatter.h
Pods/mailcore2-ios/include/MailCore/MCSMTP.h
Pods/mailcore2-ios/include/MailCore/MCSMTPAsyncSession.h
Pods/mailcore2-ios/include/MailCore/MCSMTPNoopOperation.h
Pods/mailcore2-ios/include/MailCore/MCSMTPOperation.h
Pods/mailcore2-ios/include/MailCore/MCSMTPOperationCallback.h
Pods/mailcore2-ios/include/MailCore/MCSMTPProgressCallback.h
Pods/mailcore2-ios/include/MailCore/MCSMTPSession.h
Pods/mailcore2-ios/include/MailCore/MCString.h
Pods/mailcore2-ios/include/MailCore/MCUtils.h
Pods/mailcore2-ios/include/MailCore/MCValue.h
Pods/mailcore2-ios/include/MailCore/NSArray+MCO.h
Pods/mailcore2-ios/include/MailCore/NSData+MCO.h
Pods/mailcore2-ios/include/MailCore/NSDictionary+MCO.h
Pods/mailcore2-ios/include/MailCore/NSError+MCO.h
Pods/mailcore2-ios/include/MailCore/NSIndexSet+MCO.h
Pods/mailcore2-ios/include/MailCore/NSObject+MCO.h
Pods/mailcore2-ios/include/MailCore/NSString+MCO.h
Pods/mailcore2-ios/include/MailCore/NSValue+MCO.h
Pods/mailcore2-ios/lib/libMailCore-ios.a
